* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: flex;
}

/*--------------TEXT AREA--------*/
.text-area-1 {
    width: 900px;
    height: 963px;
    margin: -18% 0 0 -80px;
    border-radius: 108px;
    background-image: url(MAin1.png);
    background-repeat: no-repeat;
    background-size: 100%
  
}
.text-area-content {
    padding: 155px 0 0 155px;
    height: 80%;
    width: 100%;
}
.welcome-msg {
    display: flex;
    margin-top: 200px;
}
.arrow {
    margin-right: 20px;
}
.welcome-msg h1 {
    color: #C4D600;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    line-height: 133%;
    letter-spacing: 0.05px;
}
.main-text {
    padding: 50px 0;
}
.text-area-1 h2 {
    width: 70%;
    color: #FFF;
    font-family: sans-serif, poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
}
.text-area-1 P {
    display: flex;
    width: 460px;
    justify-content: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 212.5%;
    letter-spacing: 0.39px;
}
.download-btn {
    display: flex;
    padding: 10px 0;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 24px;
}
.download-btn a {
    width: 128px;
    height: 18px;
    text-decoration: none;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.02px;
}
.download-btn-logo {
    width: 20px;
    height: 20px;
    margin: 0 0 5px 30px;
}

/*------------MOBILE DESIGN--------------*/
.mobile-designs {
position: absolute;
width: 100vw;
display: flex;
}
.mobile-1 {
    position: relative;
    left: 410px;
    bottom: 30px;
    z-index: 1;
}
.mobile-2 {
    position: relative;
    right: 170px;
    top: 50px;
}

    /* ----MEDIA QUERY FOR MOBILE--- */
    
@media only screen and (max-width: 900px) {
        .grid-container {
            display: block;
            width: 50%;
        }
        .mobile-designs {
            position: absolute;
            right: 600px;
        } 
    } 
    